DB_NAME=jo24
DB_HOST=localhost
DB_PORT=5432
DB_USER=jo24
DB_PASSWORD=jo24
SECRET_KEY=wtmcwj6(l^w+w0ofz#l@8kg=6133u5@92oixf-83fv!$h^ixhh
# get a Django secret key:
# $ python manage.py shell -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
